* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PP Neue Montreal", sans-serif;
}

body {
    background: black;
    color: white;
    font-family: "Doto", sans-serif;
    overflow-x: hidden;
}

/* HERO */

.hero {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

/* NAV */

nav {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    padding: 30px 60px;

    display: flex;
    justify-content: space-between;

    z-index: 20;
}
nav h2 {
    font-family: "Doto", sans-serif;
}

.links {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* LOTTIE */

.hero-lottie {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.animation {
    
    width: 110%;
    height: 110%;
}

.animation svg {
    width: 100% !important;
    height: 100% !important;
}

/* HERO TEXT */

.hero-text {
    position: relative;

    z-index: 10;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 80px;
}

.hero-text h1 {
    font-family: "Doto", sans-serif;
    font-size: 8rem;

    line-height: 0.9;
}

.hero-text p {
    font-family: "Doto", sans-serif;
    margin-top: 20px;

    opacity: 0.8;

    letter-spacing: 2px;
}

/* SCROLL INDICATOR */

.scroll-indicator {
    position: absolute;

    left: 50%;
    bottom: 40px;

    transform: translateX(-50%);

    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    font-size: 0.75rem;

    letter-spacing: 3px;
}

.arrows {
    display: flex;
    flex-direction: column;
}

.arrows span {
    width: 10px;
    height: 10px;

    border-right: 2px solid white;
    border-bottom: 2px solid white;

    transform: rotate(45deg);

    margin: -3px;
}

/* =========================
   PROJECT SECTION
========================= */

.projects-section {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    background: black;
}

/* PREVIEW */

.project-preview {
    position: absolute;
    inset: 0;

    z-index: 1;
}

.preview-img {
    position: absolute;
    inset: 0;

    opacity: 0;

    transition: opacity 0.5s ease;
}
.preview-img1 {
    position: absolute;
    inset: 0;

    opacity: 0;

    transition: opacity 0.5s ease;
}
.preview-img.active {
    opacity: 1;
}

.preview-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* OVERLAY */

.overlay {
    position: absolute;
    inset: 0;

    background: rgba(9, 9, 9, 0.45);
}

/* THUMBNAILS */

.thumbnail-strip {
    position: absolute;

    right: 50px;
    bottom: 50px;

    z-index: 20;

    display: flex;

    gap: 18px;
}

.thumb-item {
    display: flex;
    flex-direction: column;

    gap: 8px;

    cursor: pointer;

    opacity: 0.4;

    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

.thumb-item.active {
    opacity: 1;

    transform: translateY(-5px);
}

.thumb-item span {
    font-size: 0.65rem;

    letter-spacing: 2px;
}

.thumb-item img {
    width: 90px;
    height: 120px;

    object-fit: cover;
}

/* MAIN TEXT */

.projects-list {
     font-family: "Caprasimo", serif;
    position: relative;

    z-index: 10;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 60px;
}

.project-item {
    opacity: 0;

    transform: translateX();

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

    pointer-events: none;
}
.project-item.active {
    opacity: 1;

    transform: translateX(20px);

    pointer-events: auto;
}

.project-item h1 {
    font-family: "Doto", sans-serif;
    font-size: 2rem;
    padding-left: 1000px;
    line-height: 1;
}

.project-item p {
    top: 200px;
    position: absolute;
    margin-top: 20px;

    max-width: 500px;

    line-height: 1.7;
}
.project-item.active1 {
   
    opacity: 1;

    transform: translateX(2px);
}
.default-screen {
    position: absolute;
    inset: 0;

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background: black;

    opacity: 0;

    transition: opacity 0.5s ease;

    pointer-events: none;
}

.default-screen.active-default {
    opacity: 1;
}

.default-content {
    text-align: center;

    max-width: 700px;
}

.default-content h1 {
    font-size: 5rem;

    margin-bottom: 20px;
}

.default-content p {
    line-height: 1.8;

    opacity: 0.7;
}
.cursor {
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 99999;
    transition: transform 0.15s ease;
}

.cursor.active {
    transform: translate(-50%, -50%) scale(2.5);
    background: white;
    mix-blend-mode: difference;
}
.thumb-item {
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.thumb-item:hover {
    transform: translateY(-8px) scale(1.05);
}
.preview-img {
    opacity: 0;
    transform: scale(1.1);
    transition:
        opacity 0.6s ease,
        transform 1s ease;
}

.preview-img.active {
    opacity: 1;
    transform: scale(1);
}
.reveal1 {
    padding-top: 175px;
    
    margin: 0;
    font-family: "Doto", sans-serif;
    font-size: 20px;
}
.paragraph-text{
    font-family: "Noto Serif Display", serif;
    font-optical-sizing: auto;
    font-size: 35px;
    font-weight: 200;
}
.paragraph-text1{
   font-family: "Doto", sans-serif;
  font-size: 20px;
    
}
